@import './styles/styles.scss';
@import './styles/login.scss';

:root {
  --primary-color: #454F63; /* Define a primary color variable */
  --secondary-color: #78849E; /* Define a secondary color variable */
  --background-color: #121622; /* Define a background color variable */
}

body {
  font-family: Gibson, Regular;
  margin: 0;
  padding: 0;
}
